<div>
    <article>
        <p>{{user.username}}</p>
        <p>{{user.name}}</p>
        <p>{{user.profileImg}}</p>
        <p>{{user.description}}</p>
        <p>{{user.facebookId}}</p>
        <p>{{user.role}}</p>
    </article>

    <a href="/user/edit/{{user._id}}">Editar</a>
</div>